<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<header>
  <div class="logo-div">
    <!-- Logo image -->
    <img src="../../assets/images/reddit_logo.webp" width="150" height="50" alt="Your Image Alt Text" />
  </div>
  <div class = "username">
    @{{username}}
  </div>
  <div class="top-right-buttons">
    <!-- Search bar with the same style as the buttons -->
    <div class="search-bar">
      <input type="text" placeholder="Search." />
      <button>
        <i class="fas fa-search"></i>
      </button>
    </div>
    <!-- Button for viewing your posts -->
    <button class="explore-button" (click)="explorePosts()">
      <i class="fas fa-list"></i> Explore
    </button>
    <!-- Button for logging out -->
    <button class="logout-button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>
</header>

<div class="post-feed">
  <div class="post" *ngFor="let post of posts">
    <div class="profile-image">
      <img src="../../assets/images/male_avatar.png" height="30" width="30" alt="Profile Image">
    </div>

    <div class = "username">
      <p class = "username-text"> @{{post.postedBy}}</p>
    </div>
    <div class="post-content">
      <div class="post-title-section">
        <h2>{{ post.title }}</h2>
        <p class="post-details">Posted on {{ post.datePosted | date: 'medium' }}</p>
      </div>
      <p class="post-content-text">{{ post.content }}</p>
    </div>
    <div class="post-options">
      <!-- Add a button to open/close the dropdown menu -->
      <button class="dropdown-button" (click)="toggleDropdown(post.id)">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <!-- Dropdown menu options -->
      <div class="dropdown-menu" [ngClass]="{ 'open': isDropdownOpen[post.id] }">
        <a (click)="onEditPostClick(post)">Edit</a>
        <a (click)="onViewCommentClick(post)">Comments</a>
        <a (click)="onDeletePostClick(post)">Delete</a>

        
      </div>
    </div>
  </div>
  
  <button class="add-post-button" (click)="onAddPostClick()">
    <span>+</span> Add Post
  </button>
</div>
